<koch-header></koch-header>

<main class="container-fluid">
    <div class="main-content">
        <div *ngIf="router.url == '/product-catalog'" class="left-nav">
            <koch-left-nav (priceRangeValues)="getPriceRangeValues($event)" [minValue]="service.rangeMin" [maxValue]="service.rangeMax" [ceil]="service.rangeMax" [floor]="service.rangeMin"></koch-left-nav>
        </div>

        <div class="content">
            <div *ngIf="router.url == '/product-catalog'" class="d-flex justify-content-end mb-3">
                <div>
                    <select class="form-control" [(ngModel)]="sorting" (change)="sortProducts($event)">
                        <option value=''>--SORT--</option>
                        <option value="asc">Sort by name Asc</option>
                        <option value="desc">Sort by name Desc</option>
                        <option value="htl">Sort by Price HTL</option>
                        <option value="lth">Sort by Price LTH</option>
                    </select>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
    
</main>

