.product-list .product-grid{
    display: flex;
    flex-wrap: wrap;
    margin: -0.5em;
    
    padding: 0;
    list-style: none;
}

.product-list .product-grid > * {
    flex: 1 0 5em;
    margin: 0.5em;
    min-width: 15em;
    max-width: 15.5em;

    margin-bottom: 2em;
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    position: relative;
    padding: 24px;
    border-radius: 2px;

    background: #fff;
    color: rgba(0,0,0,.87);
    justify-content: center;
}

.product-card>:first-child{
    margin-top: 0;
}

.product-card .product-card-header{
    display: flex;
    flex-direction: row;

    margin: 0 -24px 15px -24px;
}

.product-card .product-card-header .action-buttons{
    margin: 0 8px;
}

.product-card .product-card-image{
    width: calc(100% + 48px);
    /* margin: 0 -24px 16px -24px; */
    margin: 0 -24px 0 -24px;
}
.product-card .product-card-header .product-card-header-text{
    margin: 0 8px;
}
.product-card .product-card-header .product-card-header-price{
    margin-left: auto;
    margin-right: 8px;
}